<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale = 1.0, maximum-scale=1.0" />
    <title>{+title /}</title>
    <link rel="stylesheet" href="css/bootstrap.css"/>
    <link rel="stylesheet" href="css/font-awesome.css"/>
    <link rel="stylesheet" href="css/fonts.css"/>
</head>
<body>
	<img src="/images/background.png" id="bg" alt="">
	<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
		<div class="container">
			{+navbar /}
		</div><!-- /.container-fluid -->
	</nav>
<div class="container">
    {+body /}
</div>
<script src="/js/jquery-1.10.2.js"></script>
<script src="/js/bootstrap.js"></script>
<script src="/js/app.js"></script>
{+body-javascript /}
</body>
</html>
