body {
    font-family: Lato, 'Helvetica Neue', Helvetica, Arial, sans-serif;
    zoom: 1;
}

html, body {
    background-color: #396C9B;
    // background: url(/images/background.png) no-repeat center center fixed;
    // -webkit-background-size: cover;
    // -moz-background-size: cover;
    // -o-background-size: cover;
    // background-size: cover;
    // width: 100%;
    // height: 100%;

    // content: "";
    // position: fixed;
    // left: 0;
    // right: 0;
    // z-index: -1;
}

#bg { position: fixed; top: 0; left: 0; display: none;}

#no-lists {
    margin-top: 140px;

    h2 a {
        display: block;
        color: #fff;
        text-align: center;
        text-decoration: none;

        .fa {
            padding-right: 20px;
        }
    }

    h2 a:hover {
        color: #74b5df;
    }
}

.fa-sort-alpha-asc, .fa-sort-alpha-desc,
.fa-sort-numeric-asc, .fa-sort-numeric-desc {
    display: none;
    float: right;
}

[sorted="name-asc"] .fa-sort-alpha-asc {
    display: inline-block;
}

[sorted="name-desc"] .fa-sort-alpha-desc {
    display: inline-block;
}

[sorted="amount-asc"] .fa-sort-numeric-asc {
    display: inline-block;
}

[sorted="amount-desc"] .fa-sort-numeric-desc {
    display: inline-block;
}

#lists {
    position: absolute;
    left: 0;
    right: 0;
    z-index: 2;
    top: 0;
}

body > .container {
    max-width: 320px;
    position: relative;
}

@media (max-width: 570px) {
    #lists {
        margin-top: 60px;
        z-index: 1!important;
    }

    .navbar-default {
        z-index: 2!important;
        // position: static;
        // margin-bottom: 0;
        background-color: rgba(72, 100, 129, 0.71) !important;

        .add-new-list-action {
            display: inline-block;
        }
    }
}

@media (min-width: 768px) {
    body > .container {
        max-width: 400px;
    }

    .add-new-list-action {
        display: none;
    }
}

@media (min-width: 992px) {
    body > .container {
        max-width: 500px;
    }
}

@media (min-width: 1200px) {
    body > .container {
        max-width: 600px;
    }
}

.working .navbar-default .navbar-brand .fa-spin {
    display: inline-block;
}

.toggle-edit {
    margin-right: 10px;
}

.toggle-edit:hover, .edit .toggle-edit {
    padding: 0px 5px 10px 5px;
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;
    margin-right: 5px;
    color: #000;
}

.edit .toggle-edit {
    padding: 5px;
    background-color: #7b8a8b;
    color: #fff;
}

.list-component.edit .panel-body .list .item .name .fa {
    display: inline-block;
    font-size: 16px;
    margin-right: 5px;
    margin-top: 7px;
}

.list-component.edit .panel-title a .fa-pencil {
    display: inline-block;
}

.navbar-default {
    border-radius: 0;
    background-color: rgba(236, 240, 241, 0.2);
    border: none;
    min-height: 40px;
    z-index: 1;

    .navbar-header {
        .add-new-list-action {
            float: right;
            padding: 4px 15px;
            font-size: 28px;
            color: #fff;
            background: transparent;
            border: none;
        }

        .add-new-list-action:hover {
            color: #74b5df;
        }
    }

    .navbar-brand:hover {
        color: #74b5df;
    }

    .navbar-brand {
        line-height: 19px;
        padding-top: 15px;
        padding-bottom: 13px;

        .brand {
            display: inline-block;
            padding-right: 10px;
        }
        .fa-spin {
            display: none;
            font-size: 17px;
        }
    }

    .navbar-nav > li > a {
        padding: 5px 10px;
        line-height: 19px;

        .fa {
            padding: 5px 10px 5px 5px;
            font-size: 28px;
        }

        .hidden-xs {
            display: inline!important;
            line-height: 32px;
            vertical-align: top;
        }
    }

    .navbar-nav > li > a:hover, .navbar-nav > li > a:focus {
        color: #74b5df;
    }
}

.list-component {
    margin: 20px auto;
    box-shadow: 3px 2px 25px #606366;

    .empty-list {
        padding: 20px;
    }

    .panel {
        z-index: 2;
        overflow: visible;
    }

    .panel-default {
        border: none;
    }

    .options {
        .dropdown-toggle {
            color: #7B7B7B;
            font-size: 18px;
            cursor: pointer;
        }

        .dropdown-toggle:hover {
            color: #000;
        }

        .dropdown-menu {
            border-radius: 0;
            left: auto;
            right: 15px;
            bottom: 15px;
            top: auto;
        }

        .dropdown-menu > li > a .fa {
            padding-right: 10px;
        }

        .dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {
            background-color: transparent;
            color: #000;
        }
    }

    .panel-title {
        a {
            display: block;

            .fa {
                float: right;
            }

            .fa-pencil {
                display: none;
                float: none;
                padding-left: 10px;
            }

            .fa-pencil:hover {
                color: #000;
            }

            .fa-caret-square-o-down {
                display: none;
            }

            .fa-caret-square-o-up {
                display: inline-block;
            }
        }

        a.collapsed {
            .fa-caret-square-o-down {
                display: inline-block;
            }

            .fa-caret-square-o-up {
                display: none;
            }
        }

        form {
            .form-group.title {
                width: 100%;
                position: relative;
            }

            .actions {
                position: absolute;
                top: 0;
                right: 0;
                padding: 0;
                white-space: nowrap;

                .btn {
                    background-color: transparent;
                    color: #7B7B7B;
                    padding: 4px 6px;
                    border-radius: 0;
                    border: none;
                }

                .btn:hover {
                    background-color: transparent;
                    border: none;
                    color: #000;
                }
            }

            input[type="text"] {
                border-radius: 0;
                border-width: 1px;
                height: 31px;
                padding-top: 0;
                padding-bottom: 0;
            }
        }
    }

    .form {
        [name="amount"] {
            width: 80%;
            display: inline-block;
        }

        [type="submit"] {
            width: 20%;
            height: 31px;
            border-radius: 0;
            padding: 0
        }

        input {
            border-radius: 0;
            border: none;
            border-top: 1px solid #dbdae5;
            padding-top: 0;
            padding-bottom: 0;
            height: 31px;
            border-bottom: 1px solid #dbdae5;
        }

        .form-group.name {
            padding-right: 0;
            border-right: 1px solid #dbdae5;
        }
        .form-group.amount {
            padding-left: 0;
        }
    }

    .panel-body {
        padding: 0;
        margin: 0 15px;
        background-color: #fff;
        border-top: none !important;

        .table {
            margin-bottom: 0;
        }

        .form {
            background-color: #ECF0F1;
            padding: 0 15px;
            margin: 0 -15px;
        }

        .headings {
            border-bottom: 2px solid #E6E6E6;
            padding: 0 15px;
            font-weight: bold;

            .col-xs-6 {
                padding: 0;
            }

            a {
                color: #2c3e50;
                display: block;
                padding: 5px 12px;
                cursor: pointer;
                text-decoration: none;

                .fa-sort {
                    float: right;
                    margin-right: 10px;
                }

                .fa-sort-alpha-asc, .fa-sort-alpha-desc,
                .fa-sort-numeric-asc, .fa-sort-numeric-desc, .fa-sort {
                    padding-top: 5px;
                }
            }

            a:hover {
                // background: #E6E6E6;
                color: #000;

                .fa-sort {
                    display: inline-block;
                    margin-right: 2px;
                    padding: 5px 8px 6px;
                    background: #e6e6e6;
                }
            }
        }

        .list {
            max-height: 600px;
            overflow-y: auto;

            .item {
                border-bottom: 1px solid #dbdae5;

                form {
                    padding-left: 0;
                    padding-right: 0;
                    margin-right: 0;

                    > .row {
                        margin: 0;
                    }

                    input[type="text"] {
                        border-radius: 0;
                        border-width: 1px;
                    }

                    .form-group.name, .form-group.amount {
                        padding: 0;
                        position: relative;
                        margin-bottom: 0;

                        input[type="text"] {
                            height: 31px;
                            padding-top: 0;
                            padding-bottom: 0;
                        }
                    }

                    .actions {
                        position: absolute;
                        top: 0;
                        right: 0;
                        padding: 0;
                        white-space: nowrap;

                        .btn {
                            background-color: transparent;
                            color: #7B7B7B;
                            padding: 4px;
                            border-radius: 0;
                            border: none;
                        }

                        .btn:hover {
                            background-color: transparent;
                            border: none;
                            color: #000;
                        }
                    }
                }
            }

            .item:nth-child(odd) {
                background-color: #FBFBFB;
            }

            .item:hover {
                background-color: #f5f5f5;

                // .name .fa {
                //     display: inline-block;
                // }

                .name .fa:hover {
                    color: #000;
                }
            }

            .item:last-child {
                border-bottom: none;
            }

            .item .name {
                border-right: 1px solid #dbdae5;
                overflow: hidden;
                position: relative;

                .fa {
                    display: none;
                    cursor: pointer;
                    color: #7B7B7B;
                    padding: 0 2px;
                }

                .actions {
                    position: absolute;
                    top: 0;
                    right: 0;
                }

                .value {
                    white-space: nowrap;
                }
            }

            .item .name, .item .amount {
                padding-top: 5px;
                padding-bottom: 5px;
            }
        }

        .results {
            background-color: #ECF0F1;
            padding: 10px;
            padding: 10px 25px;
            margin: 0 -15px;
            font-weight: bold;

            .amount {
                position: relative;

                .options {
                    position: absolute;
                    top: 0;
                    right: 0;
                }
            }
        }
    }
}