/* Webfont: Lato-LightItalic */
@font-face {
  font-family: 'Lato';
  src: url('/fonts/Lato-LightItalic.eot');
  /* IE9 Compat Modes */
  src: url('/fonts/Lato-LightItalic.eot?#iefix') format('embedded-opentype'), url('/fonts/Lato-LightItalic.woff') format('woff'), url('/fonts/Lato-LightItalic.ttf') format('truetype');
  font-style: italic;
  font-weight: 300;
  text-rendering: optimizeLegibility; }

/* Webfont: Lato-Light */
@font-face {
  font-family: 'Lato';
  src: url('/fonts/Lato-Light.eot');
  /* IE9 Compat Modes */
  src: url('/fonts/Lato-Light.eot?#iefix') format('embedded-opentype'), url('/fonts/Lato-Light.woff') format('woff'), url('/fonts/Lato-Light.ttf') format('truetype');
  font-style: normal;
  font-weight: 300;
  text-rendering: optimizeLegibility; }

/* Webfont: Lato-Regular */
@font-face {
  font-family: 'Lato';
  src: url('/fonts/Lato-Regular.eot');
  /* IE9 Compat Modes */
  src: url('/fonts/Lato-Regular.eot?#iefix') format('embedded-opentype'), url('/fonts/Lato-Regular.woff') format('woff'), url('/fonts/Lato-Regular.ttf') format('truetype');
  font-style: normal;
  font-weight: 400;
  text-rendering: optimizeLegibility; }

/* Webfont: Lato-Bold */
@font-face {
  font-family: 'Lato';
  src: url('/fonts/Lato-Bold.eot');
  /* IE9 Compat Modes */
  src: url('/fonts/Lato-Bold.eot?#iefix') format('embedded-opentype'), url('/fonts/Lato-Bold.woff') format('woff'), url('/fonts/Lato-Bold.ttf') format('truetype');
  font-style: normal;
  font-weight: 700;
  text-rendering: optimizeLegibility; }
