body {
  font-family: Lato, 'Helvetica Neue', Helvetica, Arial, sans-serif; }

body:before {
  background-color: #396C9B;
  background-image: url(/images/background.png);
  background-size: cover;
  width: 100%;
  height: 100%;
  content: "";
  position: fixed;
  left: 0;
  right: 0;
  z-index: -1; }

#no-lists {
  margin-top: 140px; }
  #no-lists h2 a {
    display: block;
    color: #fff;
    text-align: center;
    text-decoration: none; }
    #no-lists h2 a .fa {
      padding-right: 20px; }
  #no-lists h2 a:hover {
    color: #74b5df; }

.fa-sort-alpha-asc, .fa-sort-alpha-desc, .fa-sort-numeric-asc, .fa-sort-numeric-desc, .fa-sort {
  display: none;
  float: right; }

[sorted="name-asc"] .fa-sort-alpha-asc {
  display: inline-block; }

[sorted="name-desc"] .fa-sort-alpha-desc {
  display: inline-block; }

[sorted="amount-asc"] .fa-sort-numeric-asc {
  display: inline-block; }

[sorted="amount-desc"] .fa-sort-numeric-desc {
  display: inline-block; }

#lists {
  position: absolute;
  left: 0;
  right: 0;
  z-index: 2;
  top: 0; }

body > .container {
  max-width: 320px;
  position: relative; }

@media (max-width: 570px) {
  #lists {
    margin-top: 45px;
    z-index: 1 !important; }
  .navbar-default {
    z-index: 2 !important;
    background-color: #486481 !important; }
    .navbar-default .add-new-list-action {
      display: inline-block; } }

@media (min-width: 768px) {
  body > .container {
    max-width: 400px; }
  .add-new-list-action {
    display: none; } }

@media (min-width: 992px) {
  body > .container {
    max-width: 500px; } }

@media (min-width: 1200px) {
  body > .container {
    max-width: 600px; } }

.working .navbar-default .navbar-brand .fa-spin {
  display: inline-block; }

.navbar-default {
  border-radius: 0;
  background-color: rgba(236, 240, 241, 0.2);
  border: none;
  min-height: 40px;
  z-index: 1; }
  .navbar-default .navbar-header .add-new-list-action {
    float: right;
    padding: 4px 15px;
    font-size: 28px;
    color: #fff;
    background: transparent;
    border: none; }
  .navbar-default .navbar-header .add-new-list-action:hover {
    color: #74b5df; }
  .navbar-default .navbar-brand:hover {
    color: #74b5df; }
  .navbar-default .navbar-brand {
    line-height: 19px;
    padding-top: 15px;
    padding-bottom: 13px; }
    .navbar-default .navbar-brand .brand {
      display: inline-block;
      padding-right: 10px; }
    .navbar-default .navbar-brand .fa-spin {
      display: none;
      font-size: 17px; }
  .navbar-default .navbar-nav > li > a {
    padding: 5px 10px;
    line-height: 19px; }
    .navbar-default .navbar-nav > li > a .fa {
      padding: 5px 10px 5px 5px;
      font-size: 28px; }
    .navbar-default .navbar-nav > li > a .hidden-xs {
      display: inline !important;
      line-height: 32px;
      vertical-align: top; }
  .navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
    color: #74b5df; }

.list-component {
  margin: 20px auto;
  box-shadow: 3px 2px 25px #606366; }
  .list-component .panel {
    z-index: 2;
    overflow: visible; }
  .list-component .panel-default {
    border: none; }
  .list-component .options .dropdown-toggle {
    color: #7B7B7B;
    font-size: 18px;
    cursor: pointer; }
  .list-component .options .dropdown-toggle:hover {
    color: #000; }
  .list-component .options .dropdown-menu {
    border-radius: 0;
    left: auto;
    right: 15px;
    bottom: 15px;
    top: auto; }
  .list-component .options .dropdown-menu > li > a .fa {
    padding-right: 10px; }
  .list-component .options .dropdown-menu > li > a:hover, .list-component .options .dropdown-menu > li > a:focus {
    background-color: transparent;
    color: #000; }
  .list-component .panel-title a {
    display: block; }
    .list-component .panel-title a .fa {
      float: right; }
    .list-component .panel-title a .fa-pencil {
      display: none;
      float: none;
      padding-left: 10px; }
    .list-component .panel-title a .fa-pencil:hover {
      color: #000; }
    .list-component .panel-title a .fa-caret-square-o-down {
      display: none; }
    .list-component .panel-title a .fa-caret-square-o-up {
      display: inline-block; }
  .list-component .panel-title a.collapsed .fa-caret-square-o-down {
    display: inline-block; }
  .list-component .panel-title a.collapsed .fa-caret-square-o-up {
    display: none; }
  .list-component .panel-title form .form-group.title {
    width: 100%;
    position: relative; }
  .list-component .panel-title form .actions {
    position: absolute;
    top: 0;
    right: 0;
    padding: 0;
    white-space: nowrap; }
    .list-component .panel-title form .actions .btn {
      background-color: transparent;
      color: #7B7B7B;
      padding: 4px 6px;
      border-radius: 0;
      border: none; }
    .list-component .panel-title form .actions .btn:hover {
      background-color: transparent;
      border: none;
      color: #000; }
  .list-component .panel-title form input[type="text"] {
    border-radius: 0;
    border-width: 1px;
    height: 31px;
    padding-top: 0;
    padding-bottom: 0; }
  .list-component .panel-title:hover .fa-pencil {
    display: inline-block; }
  .list-component .form [name="amount"] {
    width: 80%;
    display: inline-block; }
  .list-component .form [type="submit"] {
    width: 20%;
    height: 31px;
    border-radius: 0;
    padding: 0; }
  .list-component .form input {
    border-radius: 0;
    border: none;
    border-top: 1px solid #dbdae5;
    padding-top: 0;
    padding-bottom: 0;
    height: 31px;
    border-bottom: 1px solid #dbdae5; }
  .list-component .form .form-group.name {
    padding-right: 0;
    border-right: 1px solid #dbdae5; }
  .list-component .form .form-group.amount {
    padding-left: 0; }
  .list-component .panel-body {
    padding: 0;
    margin: 0 15px;
    background-color: #fff;
    border-top: none !important; }
    .list-component .panel-body .table {
      margin-bottom: 0; }
    .list-component .panel-body .form {
      background-color: #ECF0F1;
      padding: 0 15px;
      margin: 0 -15px; }
    .list-component .panel-body .headings {
      border-bottom: 2px solid #E6E6E6;
      padding: 0 15px;
      font-weight: bold; }
      .list-component .panel-body .headings .col-xs-6 {
        padding: 0; }
      .list-component .panel-body .headings a {
        color: #2c3e50;
        display: block;
        padding: 5px 12px;
        cursor: pointer;
        text-decoration: none; }
      .list-component .panel-body .headings a:hover {
        background: #95a5a6;
        color: #fff; }
        .list-component .panel-body .headings a:hover .fa-sort-alpha-asc, .list-component .panel-body .headings a:hover .fa-sort-alpha-desc, .list-component .panel-body .headings a:hover .fa-sort-numeric-asc, .list-component .panel-body .headings a:hover .fa-sort-numeric-desc {
          display: none; }
        .list-component .panel-body .headings a:hover .fa-sort {
          display: inline-block; }
    .list-component .panel-body .list {
      max-height: 600px;
      overflow-y: scroll; }
      .list-component .panel-body .list .item {
        border-bottom: 1px solid #dbdae5; }
        .list-component .panel-body .list .item form {
          padding-left: 0;
          padding-right: 0;
          margin-right: 0; }
          .list-component .panel-body .list .item form > .row {
            margin: 0; }
          .list-component .panel-body .list .item form input[type="text"] {
            border-radius: 0;
            border-width: 1px; }
          .list-component .panel-body .list .item form .form-group.name, .list-component .panel-body .list .item form .form-group.amount {
            padding: 0;
            position: relative;
            margin-bottom: 0; }
            .list-component .panel-body .list .item form .form-group.name input[type="text"], .list-component .panel-body .list .item form .form-group.amount input[type="text"] {
              height: 31px;
              padding-top: 0;
              padding-bottom: 0; }
          .list-component .panel-body .list .item form .actions {
            position: absolute;
            top: 0;
            right: 0;
            padding: 0;
            white-space: nowrap; }
            .list-component .panel-body .list .item form .actions .btn {
              background-color: transparent;
              color: #7B7B7B;
              padding: 4px;
              border-radius: 0;
              border: none; }
            .list-component .panel-body .list .item form .actions .btn:hover {
              background-color: transparent;
              border: none;
              color: #000; }
      .list-component .panel-body .list .item:nth-child(odd) {
        background-color: #FBFBFB; }
      .list-component .panel-body .list .item:hover {
        background-color: #f5f5f5; }
        .list-component .panel-body .list .item:hover .name .fa {
          display: inline-block; }
        .list-component .panel-body .list .item:hover .name .fa:hover {
          color: #000; }
      .list-component .panel-body .list .item:last-child {
        border-bottom: none; }
      .list-component .panel-body .list .item .name {
        border-right: 1px solid #dbdae5;
        overflow: hidden;
        position: relative; }
        .list-component .panel-body .list .item .name .fa {
          display: none;
          cursor: pointer;
          color: #7B7B7B;
          padding: 0 2px; }
        .list-component .panel-body .list .item .name .actions {
          position: absolute;
          top: 0;
          right: 0; }
        .list-component .panel-body .list .item .name .value {
          white-space: nowrap; }
      .list-component .panel-body .list .item .name, .list-component .panel-body .list .item .amount {
        padding-top: 5px;
        padding-bottom: 5px; }
    .list-component .panel-body .results {
      background-color: #ECF0F1;
      padding: 10px;
      padding: 10px 25px;
      margin: 0 -15px;
      font-weight: bold; }
      .list-component .panel-body .results .amount {
        position: relative; }
        .list-component .panel-body .results .amount .options {
          position: absolute;
          top: 0;
          right: 0; }
