{>"layouts/master" /}

{<navbar}
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
        <button type="button" class="navbar-toggle hidden" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <button type="button" class="add-new-list-action" href="#">
            <i class="fa fa-plus"></i>
        </button>

        <a class="navbar-brand">
            <span class="brand">Expenser</span>
            <i class="fa fa-circle-o-notch fa-spin"></i>
        </a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav navbar-right">
            <li>
                <a class="add-new-list-action" href="#">
                    <i class="fa fa-plus"></i>
                    <span class="hidden-xs">New List</span>
                </a>
            </li>
        </ul>
    </div><!-- /.navbar-collapse -->
{/navbar}

{<body}
    <link rel="stylesheet" href="css/lists.css"></list>
    <div class="panel-group list-component hidden" id="sampleList">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#sampleList" href="#sampleListContainer">
                        <span class="value">Panel Title</span>
                        <i class="fa fa-pencil"></i>
                        <i class="fa fa-caret-square-o-down"></i>
                        <i class="fa fa-caret-square-o-up"></i>
                        <i class="fa fa-pencil-square-o toggle-edit"></i>
                    </a>
                </h4>
            </div>
            <div id="sampleListContainer" class="panel-collapse in">
                <div class="panel-body">
                    <div class="table">
                        <div class="headings">
                            <div class="row">
                                <div class="col-xs-6">
                                    <a class="name">
                                        <span class="value">Name</span>
                                        <i class="fa fa-sort-alpha-asc"></i>
                                        <i class="fa fa-sort-alpha-desc"></i>
                                        <i class="fa fa-sort"></i>
                                    </a>
                                </div>
                                <div class="col-xs-6">
                                    <a class="amount">
                                        <span class="value">Amount</span>
                                        <i class="fa fa-sort-numeric-asc"></i>
                                        <i class="fa fa-sort-numeric-desc"></i>
                                        <i class="fa fa-sort"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="list col-xs-12">
                            <div class="item row">
                                <div class="col-xs-6 name">
                                    Name
                                </div>
                                <div class="col-xs-6 amount">
                                    $1.00
                                </div>
                            </div>
                            <div class="item row">
                                <div class="col-xs-6 name">
                                    Name
                                </div>
                                <div class="col-xs-6 amount">
                                    $1.00
                                </div>
                            </div>
                            <div class="item row">
                                <div class="col-xs-6 name">
                                    Name
                                </div>
                                <div class="col-xs-6 amount">
                                    $1.00
                                </div>
                            </div>
                            <div class="item row">
                                <div class="col-xs-6 name">
                                    Name
                                </div>
                                <div class="col-xs-6 amount">
                                    $1.00
                                </div>
                            </div>
                        </div>
                        <div class="empty-list hidden text-center">No Items</div>
                        <div class="form">
                            <form class="form-inline row" role="form">
                                <div class="form-group name col-xs-6">
                                    <label class="sr-only" for="name">Name</label>
                                    <input type="text" class="form-control" maxlength="30" name="name" id="name" placeholder="Name">
                                </div>
                                <div class="form-group amount col-xs-6">
                                    <label class="sr-only" for="amount">Amount</label>
                                    <input type="text" class="form-control" name="amount" id="amount" placeholder="Amount" maxlength="25">
                                    <button type="submit" class="btn btn-default"><i class="fa fa-plus"></i></button>
                                </div>
                            </form>
                        </div>
                        <div class="results">
                            <div class="row">
                                <div class="col-xs-6 name">
                                    Total
                                </div>
                                <div class="col-xs-6 amount">
                                    <span class="dollar-sign">$</span>
                                    <span class="value">1.00</span>
                                    <div class="options">
                                        <div class="dropdown">
                                          <a class="dropdown-toggle" id="options-dropdown" data-toggle="dropdown">
                                            <i class="fa fa-gear"></i>
                                          </a>
                                          <ul class="dropdown-menu">
                                            <li role="presentation">
                                                <a role="menuitem" tabindex="-1" href="#" class="remove-list-action">
                                                    <i class="fa fa-times"></i>
                                                    Remove List
                                                </a>
                                            </li>
                                          </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="lists"></div>
    <div id="no-lists" class="hidden">
        <h2>
            <a class="add-new-list-action" href="#">
                <i class="fa fa-plus"></i>
                <span class="">Add A New List</span>
            </a>
        </h2>
    </div>
{/body}

{<body-javascript}
    <script type="text/javascript" src="/js/jquery.numeric.js"></script>
    <script type="text/javascript" src="/js/lists.js"></script>
{/body-javascript}
